<mat-card>


    <input matInput type="text" placeholder="Name" #name required >

    <button mat-raised-button color="primary" (click)="onAdd(name)">Add Food</button>

</mat-card>


    <!-- <mat-accordion >
        <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Something
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AnotherThing
                    </mat-panel-title>
               </mat-expansion-panel-header>

                Things
                <button mat-raised-button color="primary" >Add Food</button>
            </mat-expansion-panel>
        </div>
        </mat-expansion-panel>
    </mat-accordion>
 -->
